soapwsdl/src/main/xsd/ContactService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://com/ilyachuvaev/webservices/contactservice"
           xmlns:contact="http://webservices.ilyachuvaev.com"
           targetNamespace="http://webservices.ilyachuvaev.com"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="Contact" type="contact:Contact">
        <xs:complexType name="contact">
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="phone" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ContactDetailsRequest">
        <xs:complexType>
            <xs:seguence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="phone" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:seguence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ContactDetailsResponse">
        <xs:complexType>
            <xs:seguence>
                <xs:element name="ContactDetails" type="contact:Contact"/>
            </xs:seguence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Contact">

    </xs:complexType>
</xs:schema>