common/src/main/resources/xsd/contacts.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions name="SoapService" targetNamespace="http://localhost:8080/soapservice/ws"
                  xmlns:tns="http://localhost:8080/soapservice/ws"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost:8080/soapservice/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://localhost:8080/soapservice/ws"
                    elementFormDefault="qualified" attributeFormDefault="qualified" >

            <xsd:element name="contactRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Contact" type="tns:Contact"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="contactResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Contact" type="tns:Contact"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="postRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Contact" type="tns:Contact"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="postResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="PostResult" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="Contact">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:long"/>
                    <xsd:element name="firstName" type="xsd:string"/>
                    <xsd:element name="lastName" type="xsd:string"/>
                    <xsd:element name="phone" type="xsd:string"/>
                    <xsd:element name="email" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ContactRequest">
        <wsdl:part element="contactRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ContactResponse">
        <wsdl:part element="contactResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="ContactHttpPostIn">
        <wsdl:part element="postRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ContactHttpPostOut">
        <wsdl:part element="postResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="Contacts">
        <wsdl:operation name="getContact">
            <wsdl:input message="tns:ContactRequest"/>
            <wsdl:output message="tns:ContactResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="ContactHttpPost">
            <wsdl:operation name="addContact" >
                <wsdl:input message="tns:ContactHttpPostIn" />
                <wsdl:output message= "tns:ContactHttpPostOut" />
            </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ContactServiceGet" type="Contacts">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getContact">
        <soap:operation soapAction="http://localhost:8080/soapservice/ws/getContact"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="ContactServicePost" type="ContactHttpPost">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addContact">
            <soap:operation soapAction="http://localhost:8080/soapservice/ws/addContact"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ContactService">
        <wsdl:port binding="tns:ContactServiceGet" name="Contacts">
            <soap:address location="http://localhost:8080/soapservice/ws/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
