common/src/main/resources/xsd/schema.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions name="SoapService" targetNamespace="http://ilyachuvaev.com/soapservice"
                  xmlns:tns="http://ilyachuvaev.com/soapservice"
                  xmlns:types="http://ilyachuvaev.com/soapservice"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://ilyachuvaev.com/soapservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://ilyachuvaev.com/soapservice"
                    elementFormDefault="qualified" attributeFormDefault="unqualified" >

            <xsd:element name="contactRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contact" type="tns:contact"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="contactResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contact" type="tns:contact"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="PostResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="PostResult" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="contact">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:long"/>
                    <xsd:element name="firstName" type="xsd:string"/>
                    <xsd:element name="lastName" type="xsd:string"/>
                    <xsd:element name="phone" type="xsd:string"/>
                    <xsd:element name="email" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ContactRequest">
        <wsdl:part element="contactRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ContactResponse">
        <wsdl:part element="contactResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="ContactHttpPostIn">
        <wsdl:part name="n1" type="s:string" />
        <wsdl:part name="n2" type="s:string" />
    </wsdl:message>
    <wsdl:message name="ContactHttpPostOut">
        <wsdl:part name="Body" type="s:int" />
    </wsdl:message>

    <wsdl:portType name="Contacts">
        <wsdl:operation name="getContactDetails">
            <wsdl:input message="tns:ContactRequest"/>
            <wsdl:output message="tns:ContactResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="ContactHttpPost">
            <wsdl:operation name="addContact" >
                <wsdl:input message="tns:ContactHttpPostIn" />
                <wsdl:output message= "tns:ContactHttpPostOut" />
            </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ContactServiceSoapBinding" type="Contacts">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getContactDetails">
        <soap:operation soapAction="http://www.ilyachuvaev.com/services/getContactDetails"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ContactServiceHttpPost" type="ContactHttpPost">
        <wsdl:operation name="addContact">
            <soap:operation soapAction="http://www.ilyachuvaev.com/services/addContact"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ContactService">
        <wsdl:port binding="tns:ContactServiceSoapBinding" name="ContactsPort">
            <soap:address location="http://localhost:8080/soapservice/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
